{% extends "blog/base.html" %}
{% block content %}

<h1>About Me</h1>
<p>Thanks for visiting my blog! </p>
<p>I am actively looking for Software Engineer position. </p>
<p>You can know more about me by visiting my <a href="https://www.linkedin.com/in/icongliu">LinkedIn</a> profile.</p>
<p>This blog site is a Django project. You can see the source code from my <a href="https://github.com/xphd/mysite">GitHub</a>.</p>
<p>What's more, this application is deployed on <a href="https://www.heroku.com/">Heroku.</a> </p>
{% endblock %}
